@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>
<br/>
<h5>TA_KCOMP_HD Mini Project.</h5>
<p>IT Tallaght EAD joint project for CA2. Lecturer Gary Clynch. HDip in Science in Computing TA_KCOMP_HD</p><br />
<p><h4>Goal: </h4>To create a web service and API to browse local cinema showings by filter or search terms backed by an SQL database.</P>
    