
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @*<img src="https://movieprojectstorage.blob.core.windows.net/pictures/cinema-popcorn-e-biglietti.jpg" alt="Cinema" style="width:75%;height:75%;">*@

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://movieprojectstorage.blob.core.windows.net/picture/cinema-popcorn-e-biglietti.jpg" alt="Cinema" style="height:49.125em">
                <div class="carousel-caption">

                    <p>Want to see a movie? Looking for something immediately after work, or planning something for the whole family on a Bank Holiday?</p>
                </div>
            </div>

            <div class="item">
                <a href="/Movie/Details/FN"><img src="https://movieprojectstorage.blob.core.windows.net/picture/FN.jpg" alt="Findind Nemo" style="height:49.125em"></a>
            </div>

            <div class="item">
                <a href="/Movie/Details/MIGP"><img src="https://movieprojectstorage.blob.core.windows.net/picture/MIPGP.jpg" alt="Mission Impossible: Ghost Protocol" style="height:49.125em"></a>
            </div>

            <div class="item">
                <a href="/Movie/Details/HP1"><img src="https://movieprojectstorage.blob.core.windows.net/picture/HP1.jpg" alt="Harry Potter" style="height:49.125em"></a>
            </div>

            <div class="item">
                <a href="/Movie/Details/NB"><img src="https://movieprojectstorage.blob.core.windows.net/picture/NB.jpg" alt="The Notebook" style="height:49.125em"></a>
            </div>

            <div class="item">
                <a href="/Movie/Details/AP"><img src="https://movieprojectstorage.blob.core.windows.net/picture/AMP.jpg" alt="American Pie" style="height:49.125em">   </a>
            </div>

            <div class="item">
                <a href="/Movie/Details/EXO"><img src="https://movieprojectstorage.blob.core.windows.net/picture/EX.jpg" alt="The Exorcist" style="height:49.125em"></a>
            </div>

            

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <h1>Movie Project</h1>

    @*<p class="lead">IT Tallaght EAD joint project for CA2. Lecturer Gary Clynch. HDip in Science in Computing TA_KCOMP_HD</p>
    <p class="lead">Goal: to Add a web service and API to browse local cinema showings by filter or search terms backed by an SQL database.</p>*@
   
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cinema</h2>
        <p>Details about the cinemas</p>
        <p>@Html.ActionLink("Details", "Index", "Cinema")</p>
        @*<p><a class="btn btn-default" href="http://snismoviemvc.azurewebsites.net/cinema">Details &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Movie </h2>
        <p>Details about the movies.</p>
        <p>@Html.ActionLink("Details", "Index", "Movie")</p>
    </div>
</div>

